<form>
    <div>
        <label for="task" class="block">Task</label>
        <textarea class="w-full bg-slate-100 border border-slate-300 rounded h-20" id="task"></textarea>
    </div>
    <div>
        <select class="w-full bg-slate-100 border border-slate-300 rounded h-20">
            <option value="todo">Todo</option>
            <option value="inprogress">In Progress</option>
            <option value="completed">Completed</option>
        </select>
    </div>
    <div>
        <button class="bg-amber-500 px-4 py-1 rounded border-amber-900 cursor-pointer mt-4" type="submit">Add Task</button>
    </div>
</form>